:root {
  /* Action */
  --theme-light-action: #0022ff;
  --theme-dark-action: #8691dc;
  /* Ink */
  --theme-light-ink: #1b1b1b;
  --theme-dark-ink: #ffffff;
  /* Bg */
  --theme-light-bg: #ffffff;
  --theme-dark-bg: #1b1b1b;
}

body {
  --action: var(--theme-light-action);
  --ink: var(--theme-light-ink);
  --bg: var(--theme-light-bg);
}

body.dark {
  --action: var(--theme-dark-action);
  --ink: var(--theme-dark-ink);
  --bg: var(--theme-dark-bg);
}

@tailwind base;

@tailwind components;

@tailwind utilities;
